html {
  min-width: 320px;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 24px;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}


