.btn {
  display: block;
  color: #66ccff;

  &--prices {
  margin-left: 11px;
  margin-right: 11px;
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;
  @include set-font(14px, 22px);

  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  background: transparent url("../img/plans-layer.png") no-repeat;
  cursor: pointer;

  @include media(desktop) {
    width: 445px;
    margin-top: 55px;
    margin-left: auto;
    padding-left: 25px;
    text-align: left;
  }
  }


  &--showAttributes {
    text-decoration: underline;
    @include set-font(14px, 22px);
    letter-spacing: 0.8px;
  }

  &--hide,
  &--view {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-bottom: 10px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      width: 17px;
      height: 5px;
      bottom: 0;
      left: calc(50% - 8px);
      background: transparent url("../img/arrow-down-small.png") no-repeat;

    }
  }

  &--show-all {
    position: relative;
    padding-bottom: 15px;
    text-align: center;
    @include set-font(14px, 22px);

    &::before {
      position: absolute;
      content: "";
      width: 29px;
      height: 9px;
      bottom: 0;
      left: calc(50% - 14px);
      background: transparent url("../img/arrow-down-big.png") no-repeat;
    }
  }
}
