.call-us span{
  position: absolute;
  bottom: 20px;
  right: 15px;
  width: 72px;
  height: 72px;
  background: transparent url('../img/icon-phone-wlayer1.png') no-repeat;
  font-size: 0;
  cursor: pointer;
}

.call-us--blue span {
  background: transparent url('../img/icon-phone-blayer1.png') no-repeat;
}
