.page-header {
  position: relative;
  background: #3f77ac url("../img/top-layer1.jpg") no-repeat;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 116px;
}

.page-header__wrapper {
  @include wrapper-container();
}

.page-header__title {
  margin-top: 318px;
  text-align: center;
  font-size: 10px;
  font-weight: 200;
  color: #cccccc;
  text-transform: uppercase;
  letter-spacing: 2px;
}
